.App {
  text-align: center;
}

.info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px;
}
.chart-container {
  padding-top: 10%;
}

.pusher {
  margin-left: auto;
}